<html lang= lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="menu-box left">
            {% include button.html text="ON/OFF"%}
            {% include button.html text="MENU"%}
        </div>
        <div id="black-box">
            <div id="white-box">
                {{content}}
            </div>
            <h1 class="title">
                Jonathan Lin
            </h1>
        </div>
        <div class="menu-box right">
            <div class="d1">Hi</div>
            <div class="d1">There</div>
            <div class="d1">Secrets!</div>
            <div class="d1">Are</div>
            <div class="d1">Here</div>
        </div>
    </div>
</body>
</html>